.Rproj.user
.Rhistory
.RData
.Ruserdata
/Data/piaac_combined.csv
/Data/piaac_combined_2.csv
/Data/piaac/cycle2csvs/prgautp2.csv
/Data/piaac/cycle2csvs/prgbelp2.csv
/Data/piaac/cycle2csvs/prgcanp2.csv
/Data/piaac/cycle2csvs/prgchep2.csv
/Data/piaac/cycle2csvs/prgchlp2.csv
/Data/piaac/cycle2csvs/prgczep2.csv
/Data/piaac/cycle2csvs/prgdeup2.csv
/Data/piaac/cycle2csvs/prgdnkp2.csv
/Data/piaac/cycle2csvs/prgespp2.csv
/Data/piaac/cycle2csvs/prgfinp2.csv
/Data/piaac/cycle2csvs/prgfrap2.csv
/Data/piaac/cycle2csvs/prggbrp2.csv
/Data/piaac/cycle2csvs/prghunp2.csv
/Data/piaac/cycle2csvs/prgitap2.csv
/Data/piaac/cycle2csvs/prgjpnp2.csv
/Data/piaac/cycle2csvs/prgkorp2.csv
/Data/piaac/cycle2csvs/prgnorp2.csv
/Data/piaac/cycle2csvs/prgpolp2.csv
/Data/piaac/cycle2csvs/prgprtp2.csv
/Data/piaac/cycle2csvs/prgsgpp2.csv
/Data/piaac/cycle2csvs/prgsvkp2.csv
/Data/piaac/cycle2csvs/prgswep2.csv
/Data/piaac/cycle2csvs/prgusap2.csv
/Data/piaac/cycle2csvs/prgestp2.csv
/Data/piaac/cycle2csvs/prgirlp2.csv
/Data/piaac/cycle2csvs/prglvap2.csv
/Data/piaac/cycle2csvs/prgltup2.csv
/Data/piaac/cycle2csvs/prgisrp2.csv
/Data/piaac/cycle2csvs/prghrvp2.csv
/Data/piaac/cycle1csvs/prgautp1.csv
/Data/piaac/cycle1csvs/prgbelp1.csv
/Data/piaac/cycle1csvs/prgcanp1.csv
/Data/piaac/cycle1csvs/prgchlp1.csv
/Data/piaac/cycle1csvs/prgczep1.csv
/Data/piaac/cycle1csvs/prgdeup1.csv
/Data/piaac/cycle1csvs/prgdnkp1.csv
/Data/piaac/cycle1csvs/prgecup1.csv
/Data/piaac/cycle1csvs/prgespp1.csv
/Data/piaac/cycle1csvs/prgestp1.csv
/Data/piaac/cycle1csvs/prgfinp1.csv
/Data/piaac/cycle1csvs/prgfrap1.csv
/Data/piaac/cycle1csvs/prggbrp1.csv
/Data/piaac/cycle1csvs/prggrcp1.csv
/Data/piaac/cycle1csvs/prghunp1.csv
/Data/piaac/cycle1csvs/prgirlp1.csv
/Data/piaac/cycle1csvs/prgisrp1.csv
/Data/piaac/cycle1csvs/prgitap1.csv
/Data/piaac/cycle1csvs/prgjpnp1.csv
/Data/piaac/cycle1csvs/prgkazp1.csv
/Data/piaac/cycle1csvs/prgkorp1.csv
/Data/piaac/cycle1csvs/prgltup1.csv
/Data/piaac/cycle1csvs/prgmexp1.csv
/Data/piaac/cycle1csvs/prgnldp1.csv
/Data/piaac/cycle1csvs/prgnorp1.csv
/Data/piaac/cycle1csvs/prgnzlp1.csv
/Data/piaac/cycle1csvs/prgperp1.csv
/Data/piaac/cycle1csvs/prgpolp1.csv
/Data/piaac/cycle1csvs/prgrusp1.csv
/Data/piaac/cycle1csvs/prgsgpp1.csv
/Data/piaac/cycle1csvs/prgsvkp1.csv
/Data/piaac/cycle1csvs/prgsvnp1.csv
/Data/piaac/cycle1csvs/prgswep1.csv
/Data/piaac/cycle1csvs/prgturp1.csv
