.Rproj.user
.Rhistory
.RData
.Ruserdata
/Data/piaac_combined.csv
/Data/piaac_combined_2.csv
/Data/df.csv
/Data/df2.csv
/Data/piaac/prgautp2.csv
/Data/piaac/prgbelp2.csv
/Data/piaac/prgcanp2.csv
/Data/piaac/prgchep2.csv
/Data/piaac/prgchlp2.csv
/Data/piaac/prgczep2.csv
/Data/piaac/prgdeup2.csv
/Data/piaac/prgdnkp2.csv
/Data/piaac/prgespp2.csv
/Data/piaac/prgfinp2.csv
/Data/piaac/prgfrap2.csv
/Data/piaac/prggbrp2.csv
/Data/piaac/prghunp2.csv
/Data/piaac/prgitap2.csv
/Data/piaac/prgjpnp2.csv
/Data/piaac/prgkorp2.csv
/Data/piaac/prgnorp2.csv
/Data/piaac/prgpolp2.csv
/Data/piaac/prgprtp2.csv
/Data/piaac/prgsgpp2.csv
/Data/piaac/prgsvkp2.csv
/Data/piaac/prgswep2.csv
/Data/piaac/prgusap2.csv
/Data/piaac/prgestp2.csv
/Data/piaac/prgirlp2.csv
/Data/piaac/prglvap2.csv
/Data/piaac/prgltup2.csv
/Data/piaac/prgisrp2.csv
/Data/piaac/prghrvp2.csv

